<% if flash[:duplicate_id] %>
  <p class="alert alert-danger">Stop with that ID already exists!</p>
<% end %>
<% logger.info { "flash: " + flash.inspect } %>
<p>
  <strong>Stop ID:</strong>
  <%= @stop.stop_id %>
</p>

<p>
    <strong>Stop Name:</strong>
    <%= @stop.stop_name %>
</p>
 
<p>
  <strong>Times:</strong>
  <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
</p>


<%= link_to 'Back', stops_path %>