<p>
  <strong>Stop ID:</strong>
  <%= @stop.stop_id %>
</p>
 
<p>
  <strong>Times:</strong>
  <%= @stop.times %>
</p>

<%= link_to 'Back', stops_path %>
<%= link_to 'Edit', edit_stop_path(@stop.stop_id) %>