<% if flash[:duplicate_id] %>
  <p class="alert alert-danger">Stop with that ID already exists!</p>
<% end %>
<% logger.info { "flash: " + flash.inspect } %>
<p>
  <strong>Stop ID:</strong>
  <%= @stop.stop_id %>
</p>

<p>
    <strong>Stop Name:</strong>
    <%= @stop.stop_name %>
</p>
 
<p>
  <strong>Times:</strong>
  <pre><%= JSON.pretty_generate(@stop.times)  %></pre>    
</p>


<%= link_to 'Back', stops_path %>